<style>button{background-color: black; width: 100px; height: 40px}#edit{margin: 20px; padding: 20px; background-color: #4ABDAC}</style>
<div id='edit'>
<h2>Edit To DO List</h2>

<%= render 'form' %><br>
<button><a href="/">Back</a></button>
</div>