<style>button{ background-color: yellow; width: 100px; height: 40px}#new{margin: 20px; padding: 20px; background-color: #4ABDAC}</style>
<div id='new'>
<center><h2>Add Item</h2></center>
<%= render 'form' %>
</div>