<style>.jumbotron{background-color: #4ABDAC!important;}a{color:white;} </style>

<style>button{width: 150px; height: 40px; background-color: black}</style>
<div class= 'jumbotron'>
		<center><h2>Are you overwhelmed by the amount of tasks you must do each day?</h2></center>
		<center><h2>Become more organized and productive using CheckList!!</h2></center><br>


	    <center><%= image_tag("logos/checklist.jpg",width: "90%", height: '300px')%></center><br>

	<center><button><a href="users/sign_in">SIGN IN</a></button></center><br>

	<center><button><a href="users/sign_up">SIGN UP</a></button></center><br>



</div>